@font-face {
  font-family: 'sellpointsi2glyphs';
  src: url('../font/sellpointsi2glyphs.eot?33959482');
  src: url('../font/sellpointsi2glyphs.eot?33959482#iefix') format('embedded-opentype'),
       url('../font/sellpointsi2glyphs.woff?33959482') format('woff'),
       url('../font/sellpointsi2glyphs.ttf?33959482') format('truetype'),
       url('../font/sellpointsi2glyphs.svg?33959482#sellpointsi2glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sellpointsi2glyphs';
    src: url('../font/sellpointsi2glyphs.svg?33959482#sellpointsi2glyphs') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sellpointsi2glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-360:before { content: '\e800'; } /* '' */
.icon-360-circle:before { content: '\e801'; } /* '' */
.icon-360-rounded:before { content: '\e802'; } /* '' */
.icon-360-square:before { content: '\e803'; } /* '' */
.icon-back-arrow:before { content: '\e804'; } /* '' */
.icon-back-arrow-circle:before { content: '\e805'; } /* '' */
.icon-back-arrow-rounded:before { content: '\e806'; } /* '' */
.icon-back-arrow-square:before { content: '\e807'; } /* '' */
.icon-bg-circle:before { content: '\e808'; } /* '' */
.icon-bg-rounded:before { content: '\e809'; } /* '' */
.icon-bg-square:before { content: '\e80a'; } /* '' */
.icon-bluetooth:before { content: '\e80b'; } /* '' */
.icon-bluetooth-circle:before { content: '\e80c'; } /* '' */
.icon-bluetooth-rounded:before { content: '\e80d'; } /* '' */
.icon-bluetooth-square:before { content: '\e80e'; } /* '' */
.icon-box:before { content: '\e80f'; } /* '' */
.icon-box-circle:before { content: '\e810'; } /* '' */
.icon-box-rounded:before { content: '\e811'; } /* '' */
.icon-box-square:before { content: '\e812'; } /* '' */
.icon-broom:before { content: '\e813'; } /* '' */
.icon-broom-circle:before { content: '\e814'; } /* '' */
.icon-broom-rounded:before { content: '\e815'; } /* '' */
.icon-broom-square:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-camera-circle:before { content: '\e818'; } /* '' */
.icon-camera-rounded:before { content: '\e819'; } /* '' */
.icon-camera-square:before { content: '\e81a'; } /* '' */
.icon-cart:before { content: '\e81b'; } /* '' */
.icon-cart-circle:before { content: '\e81c'; } /* '' */
.icon-cart-rounded:before { content: '\e81d'; } /* '' */
.icon-cart-square:before { content: '\e81e'; } /* '' */
.icon-chef:before { content: '\e81f'; } /* '' */
.icon-chef-circle:before { content: '\e820'; } /* '' */
.icon-chef-rounded:before { content: '\e821'; } /* '' */
.icon-chef-square:before { content: '\e822'; } /* '' */
.icon-clock:before { content: '\e823'; } /* '' */
.icon-clock-circle:before { content: '\e824'; } /* '' */
.icon-clock-rounded:before { content: '\e825'; } /* '' */
.icon-clock-square:before { content: '\e826'; } /* '' */
.icon-close-01:before { content: '\e827'; } /* '' */
.icon-close-01-inverted:before { content: '\e828'; } /* '' */
.icon-close-02:before { content: '\e829'; } /* '' */
.icon-close-02-inverted:before { content: '\e82a'; } /* '' */
.icon-close-03:before { content: '\e82b'; } /* '' */
.icon-close-03-inverted:before { content: '\e82c'; } /* '' */
.icon-close-04:before { content: '\e82d'; } /* '' */
.icon-close-04-inverted:before { content: '\e82e'; } /* '' */
.icon-cloud:before { content: '\e82f'; } /* '' */
.icon-cloud-circle:before { content: '\e830'; } /* '' */
.icon-cloud-rounded:before { content: '\e831'; } /* '' */
.icon-cloud-square:before { content: '\e832'; } /* '' */
.icon-delivery-available:before { content: '\e833'; } /* '' */
.icon-delivery-available-bg:before { content: '\e834'; } /* '' */
.icon-delivery-available-nobg:before { content: '\e835'; } /* '' */
.icon-delivery-included:before { content: '\e836'; } /* '' */
.icon-delivery-included-bg:before { content: '\e837'; } /* '' */
.icon-delivery-included-nobg:before { content: '\e838'; } /* '' */
.icon-document:before { content: '\e839'; } /* '' */
.icon-document-circle:before { content: '\e83a'; } /* '' */
.icon-document-rounded:before { content: '\e83b'; } /* '' */
.icon-document-square:before { content: '\e83c'; } /* '' */
.icon-dollar-sign:before { content: '\e83d'; } /* '' */
.icon-dollar-sign-circle:before { content: '\e83e'; } /* '' */
.icon-dollar-sign-rounded:before { content: '\e83f'; } /* '' */
.icon-dollar-sign-square:before { content: '\e840'; } /* '' */
.icon-email:before { content: '\e841'; } /* '' */
.icon-email-circle:before { content: '\e842'; } /* '' */
.icon-email-rounded:before { content: '\e843'; } /* '' */
.icon-email-square:before { content: '\e844'; } /* '' */
.icon-eye:before { content: '\e845'; } /* '' */
.icon-eye-circle:before { content: '\e846'; } /* '' */
.icon-eye-rounded:before { content: '\e847'; } /* '' */
.icon-eye-square:before { content: '\e848'; } /* '' */
.icon-finger:before { content: '\e849'; } /* '' */
.icon-finger-circle:before { content: '\e84a'; } /* '' */
.icon-finger-rounded:before { content: '\e84b'; } /* '' */
.icon-finger-square:before { content: '\e84c'; } /* '' */
.icon-gear:before { content: '\e84d'; } /* '' */
.icon-gear-circle:before { content: '\e84e'; } /* '' */
.icon-gear-rounded:before { content: '\e84f'; } /* '' */
.icon-gear-square:before { content: '\e850'; } /* '' */
.icon-globe:before { content: '\e851'; } /* '' */
.icon-globe-circle:before { content: '\e852'; } /* '' */
.icon-globe-rounded:before { content: '\e853'; } /* '' */
.icon-globe-square:before { content: '\e854'; } /* '' */
.icon-gps:before { content: '\e855'; } /* '' */
.icon-gps-circle:before { content: '\e856'; } /* '' */
.icon-gps-rounded:before { content: '\e857'; } /* '' */
.icon-gps-square:before { content: '\e858'; } /* '' */
.icon-hd:before { content: '\e859'; } /* '' */
.icon-hd-circle:before { content: '\e85a'; } /* '' */
.icon-hd-rounded:before { content: '\e85b'; } /* '' */
.icon-hd-square:before { content: '\e85c'; } /* '' */
.icon-info:before { content: '\e85d'; } /* '' */
.icon-info-circle:before { content: '\e85e'; } /* '' */
.icon-info-rounded:before { content: '\e85f'; } /* '' */
.icon-info-square:before { content: '\e860'; } /* '' */
.icon-leaf:before { content: '\e861'; } /* '' */
.icon-leaf-circle:before { content: '\e862'; } /* '' */
.icon-leaf-rounded:before { content: '\e863'; } /* '' */
.icon-leaf-square:before { content: '\e864'; } /* '' */
.icon-lightbulb:before { content: '\e865'; } /* '' */
.icon-lightbulb-circle:before { content: '\e866'; } /* '' */
.icon-lightbulb-rounded:before { content: '\e867'; } /* '' */
.icon-lightbulb-square:before { content: '\e868'; } /* '' */
.icon-location:before { content: '\e869'; } /* '' */
.icon-location-circle:before { content: '\e86a'; } /* '' */
.icon-location-rounded:before { content: '\e86b'; } /* '' */
.icon-location-square:before { content: '\e86c'; } /* '' */
.icon-magnifying-glass:before { content: '\e86d'; } /* '' */
.icon-magnifying-glass-circle:before { content: '\e86e'; } /* '' */
.icon-magnifying-glass-rounded:before { content: '\e86f'; } /* '' */
.icon-magnifying-glass-square:before { content: '\e870'; } /* '' */
.icon-network:before { content: '\e871'; } /* '' */
.icon-network-circle:before { content: '\e872'; } /* '' */
.icon-network-rounded:before { content: '\e873'; } /* '' */
.icon-network-square:before { content: '\e874'; } /* '' */
.icon-night:before { content: '\e875'; } /* '' */
.icon-night-circle:before { content: '\e876'; } /* '' */
.icon-night-rounded:before { content: '\e877'; } /* '' */
.icon-night-square:before { content: '\e878'; } /* '' */
.icon-order-here:before { content: '\e879'; } /* '' */
.icon-order-here-bg:before { content: '\e87a'; } /* '' */
.icon-order-here-nobg:before { content: '\e87b'; } /* '' */
.icon-picture:before { content: '\e87c'; } /* '' */
.icon-picture-circle:before { content: '\e87d'; } /* '' */
.icon-picture-rounded:before { content: '\e87e'; } /* '' */
.icon-picture-square:before { content: '\e87f'; } /* '' */
.icon-play:before { content: '\e880'; } /* '' */
.icon-play-circle:before { content: '\e881'; } /* '' */
.icon-play-rounded:before { content: '\e882'; } /* '' */
.icon-play-square:before { content: '\e883'; } /* '' */
.icon-plus:before { content: '\e884'; } /* '' */
.icon-plus-circle:before { content: '\e885'; } /* '' */
.icon-plus-rounded:before { content: '\e886'; } /* '' */
.icon-plus-square:before { content: '\e887'; } /* '' */
.icon-question-mark:before { content: '\e888'; } /* '' */
.icon-question-mark-circle:before { content: '\e889'; } /* '' */
.icon-question-mark-rounded:before { content: '\e88a'; } /* '' */
.icon-question-mark-square:before { content: '\e88b'; } /* '' */
.icon-ruler:before { content: '\e88c'; } /* '' */
.icon-ruler-circle:before { content: '\e88d'; } /* '' */
.icon-ruler-rounded:before { content: '\e88e'; } /* '' */
.icon-ruler-square:before { content: '\e88f'; } /* '' */
.icon-shake:before { content: '\e890'; } /* '' */
.icon-shake-circle:before { content: '\e891'; } /* '' */
.icon-shake-rounded:before { content: '\e892'; } /* '' */
.icon-shake-square:before { content: '\e893'; } /* '' */
.icon-snowflake:before { content: '\e894'; } /* '' */
.icon-snowflake-circle:before { content: '\e895'; } /* '' */
.icon-snowflake-rounded:before { content: '\e896'; } /* '' */
.icon-snowflake-square:before { content: '\e897'; } /* '' */
.icon-sound:before { content: '\e898'; } /* '' */
.icon-sound-circle:before { content: '\e899'; } /* '' */
.icon-sound-rounded:before { content: '\e89a'; } /* '' */
.icon-sound-square:before { content: '\e89b'; } /* '' */
.icon-speech-bubble:before { content: '\e89c'; } /* '' */
.icon-speech-bubble-circle:before { content: '\e89d'; } /* '' */
.icon-speech-bubble-rounded:before { content: '\e89e'; } /* '' */
.icon-speech-bubble-square:before { content: '\e89f'; } /* '' */
.icon-star:before { content: '\e8a0'; } /* '' */
.icon-star-circle:before { content: '\e8a1'; } /* '' */
.icon-star-rounded:before { content: '\e8a2'; } /* '' */
.icon-star-square:before { content: '\e8a3'; } /* '' */
.icon-sun:before { content: '\e8a4'; } /* '' */
.icon-sun-circle:before { content: '\e8a5'; } /* '' */
.icon-sun-rounded:before { content: '\e8a6'; } /* '' */
.icon-sun-square:before { content: '\e8a7'; } /* '' */
.icon-truck:before { content: '\e8a8'; } /* '' */
.icon-truck-circle:before { content: '\e8a9'; } /* '' */
.icon-truck-rounded:before { content: '\e8aa'; } /* '' */
.icon-truck-square:before { content: '\e8ab'; } /* '' */
.icon-utensils:before { content: '\e8ac'; } /* '' */
.icon-utensils-circle:before { content: '\e8ad'; } /* '' */
.icon-utensils-rounded:before { content: '\e8ae'; } /* '' */
.icon-utensils-square:before { content: '\e8af'; } /* '' */
.icon-utility-rebate:before { content: '\e8b0'; } /* '' */
.icon-utility-rebate-bg:before { content: '\e8b1'; } /* '' */
.icon-utility-rebate-nobg:before { content: '\e8b2'; } /* '' */
.icon-wifi:before { content: '\e8b3'; } /* '' */
.icon-wifi-circle:before { content: '\e8b4'; } /* '' */
.icon-wifi-rounded:before { content: '\e8b5'; } /* '' */
.icon-wifi-square:before { content: '\e8b6'; } /* '' */
.icon-wrench:before { content: '\e8b7'; } /* '' */
.icon-wrench-circle:before { content: '\e8b8'; } /* '' */
.icon-wrench-rounded:before { content: '\e8b9'; } /* '' */
.icon-wrench-square:before { content: '\e8ba'; } /* '' */